body {
    background-color: mistyrose;
    padding: 10px;
    font-family: Garamond, serif;
    font-size: large;
}

h3 {
    font-style: italic;
    font-size: x-large;
}

h2 {
    font-size: xx-large;
}

.overview {
    border: 4px solid black;
    background-color: navy;
    padding: 20px;
    margin: 10px;
    color: white;
}

img {
    border: 4px solid black;
    transition: transform .25s;
    margin: 50px;
}

img:hover {
    transform: scale(1.25);
}

ol li {
    font-weight: bolder;
}